+b.footer
	.container
		.row
			.col-lg-4
				+b.logo._mini._devider
					+e.image
						img(src="./images/logo.png", alt="")
					+e.title Департамент по науке и инновациям Ямало-Ненецкого автономного округа
				+b.button._transparent._sharp._with-icon
					i.fa-fa-envelope-o 
					| Напишите нам
			.col-lg-6
				+b.navigation
					+e.UL.list
						li
							+e.A.link(href="#") Департамент
						li
							+e.A.link(href="#") Департамент
						li
							+e.A.link(href="#") Мероприятия организации на 2016-2018 года
						li
							+e.A.link(href="#") Департамент
						li
							+e.A.link(href="#") Департамент
						li
							+e.A.link(href="#") Департамент

			.col-lg-2
				+b.contacts
					+e.item._indent
						+e.SPAN.label Адрес
						+e.SPAN.text 629009, Ямало-Ненецкий А.О., Салехард, проспект Молодёжи, 9
					+e.item.
						+e.SPAN.label Телефон
						+e.SPAN.text 
						a(href="tel:8349222-24-06") 8 (34922) 2-24-06
					+e.item.
						+e.SPAN.label Факс
						+e.SPAN.text 
						a(href="tel:83492241043 ") 8 (34922) 4-10-43 
				+b.button._transparent._sharp._with-icon
					i.fa-fa-envelope-o 
					| Напишите нам

