//- .container
//- 	.row.galery
//- 		.col-md-6
//- 			+b.idioms
//- 				+b.back
//- 					+e.title Shot in the dark
//- 					+e.text An attempt to guess something when you
//- 								|have no information or knowledge about it.
//- 				+b.front
//- 					+e.example From listening, I can't tell who composed it.
//- 							| Beethoven, maybe, but that's a  
//- 							span.idiom shot in the dark
//- 		.col-md-6
//- 			+b.idioms
//- 				+b.back
//- 					+e.title Shot in the dark
//- 					+e.text An attempt to guess something when you
//- 								|have no information or knowledge about it.
//- 				+b.front
//- 					+e.example From listening, I can't tell who composed it.
//- 										| Beethoven, maybe, but that's a  
//- 										span.idiom shot in the dark
//- 	.row.galery
//- 		.col-md-6
//- 			+b.idioms
//- 				+b.back
//- 					+e.title Shot in the dark
//- 					+e.text An attempt to guess something when you
//- 								|have no information or knowledge about it.
//- 				+b.front
//- 					+e.example From listening, I can't tell who composed it.
//- 							| Beethoven, maybe, but that's a  
//- 							span.idiom shot in the dark
//- 		.col-md-6
//- 			+b.idioms
//- 				+b.back
//- 					+e.title Shot in the dark
//- 					+e.text An attempt to guess something when you
//- 								|have no information or knowledge about it.
//- 				+b.front
//- 					+e.example From listening, I can't tell who composed it.
//- 										| Beethoven, maybe, but that's a  
//- 										span.idiom shot in the dark

+b.galery.center
	+b.idi
		+e.H3.title Idioms
		+e.text Hover your mouse over the idioms and you'll see an example 
	+b.idioms-wrapper
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it. 
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Chew the fat
				+e.text To chat or gossip
			+b.front
				+e.example We sat in a bar most of the evening just 
					span.idiom chewing the fat
		+b.idioms
			+b.back
				+e.title Go brain dead
				+e.text To forget something suddenly
			+b.front
				+e.example I forgot what I was talking about a moment ago.
						|I just 
						span.idiom went brain dead
		+b.idioms
			+b.back
				+e.title Let your hair down
				+e.text To relax and do what you want
			+b.front
				+e.example It's been such a hard week at work. Shoul we all go out tonight and  
						span.idiom let our hair down 
						|a bit?
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it. 
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it. 
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it.
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it.
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it.
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark