//- .container
//- 	.row.galery
//- 		.col-md-6
//- 			+b.idioms
//- 				+b.back
//- 					+e.title Shot in the dark
//- 					+e.text An attempt to guess something when you
//- 								|have no information or knowledge about it.
//- 				+b.front
//- 					+e.example From listening, I can't tell who composed it.
//- 							| Beethoven, maybe, but that's a  
//- 							span.idiom shot in the dark
//- 		.col-md-6
//- 			+b.idioms
//- 				+b.back
//- 					+e.title Shot in the dark
//- 					+e.text An attempt to guess something when you
//- 								|have no information or knowledge about it.
//- 				+b.front
//- 					+e.example From listening, I can't tell who composed it.
//- 										| Beethoven, maybe, but that's a  
//- 										span.idiom shot in the dark
//- 	.row.galery
//- 		.col-md-6
//- 			+b.idioms
//- 				+b.back
//- 					+e.title Shot in the dark
//- 					+e.text An attempt to guess something when you
//- 								|have no information or knowledge about it.
//- 				+b.front
//- 					+e.example From listening, I can't tell who composed it.
//- 							| Beethoven, maybe, but that's a  
//- 							span.idiom shot in the dark
//- 		.col-md-6
//- 			+b.idioms
//- 				+b.back
//- 					+e.title Shot in the dark
//- 					+e.text An attempt to guess something when you
//- 								|have no information or knowledge about it.
//- 				+b.front
//- 					+e.example From listening, I can't tell who composed it.
//- 										| Beethoven, maybe, but that's a  
//- 										span.idiom shot in the dark
.container
	+b.galery.center
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it. 
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it. 
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it. 
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it. 
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it. 
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it.
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it.
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark
		+b.idioms
			+b.back
				+e.title Shot in the dark
				+e.text An attempt to guess something when you
						|have no information or knowledge about it.
			+b.front
				+e.example From listening, I can't tell who composed it.
						| Beethoven, maybe, but that's a  
						span.idiom shot in the dark