+b.wrapper
	  
	+b.main__title
			h1 Learning English
	+b.main-content
		+e.text Welcome students! On these pages you will find information and practice exercises for grammar, vocabulary, prepositions and FCE Use of English.
	+b.term
		+b.item
			+e.title Gramma Pages
			+e.text Including gramma rules and<br> practice exercises
		+b.item
			+e.title Vocabulary Pages
			+e.text Including phrasal verbs and confusing<br> words with exercises
		+b.item.prepos
			+b.prep-cont
				+e.title Prepositions Pages
				+e.text Including time, place and movement<br> and dependent prepositions
			+b.prep 
				SPAN.on.animated.movprep on 
				SPAN.about.animated.movprep about
				SPAN.for.animated.movprep for
				SPAN.at.animated.movprep at
				SPAN.in.animated.movprep in
				SPAN.with.animated.movprep with

