.menu-wrapper
	.menu-cover
		+b.A.logo._burger(href='../main.html') English<br> in mind
		.link_burger 
			p.menu-sign &#9776
			p.menu-letters меню
	.menu-links
		ul.ul.eng-sidenav
			li.limenu.eng-sidenav__list 
				a.eng-sidenav__but(href="#") Grammar Rules
				ul.eng-drop
					li: a.eng-drop__link(href="#") Tenses
					li: a.eng-drop__link(href="#") Futures
					li: a.eng-drop__link(href="#") Conditionals
					li: a.eng-drop__link(href="#") Relative Clauses
			li.limenu: a(href="#") Grammar Exercises
			li.limenu: a(href="#") Grammar Terms
			li.limenu.eng-sidenav__list 
				a.eng-sidenav__but(href="#") Vocabulary
				ul.eng-drop
					li: a.eng-drop__link(href="#") Phrasal Verbs
					li: a.eng-drop__link(href="#") Confusing words
			li.limenu.eng-sidenav__list
				a.eng-sidenav__but(href="#") Prepositions
				ul.eng-drop
					li: a.eng-drop__link(href="#") Place/movement
					li: a.eng-drop__link(href="#") Time
					li: a.eng-drop__link(href="#") Dependent
			li.limenu.eng-sidenav__list: a(href='../idioms.html') Idioms
			li.limenu.eng-sidenav__list: a(href='../tests.html') Test
			li.limenu.eng-sidenav__list: a(href='../main.html') Home

