+b.mslider
	+b.sl
		+b.sl-slider
			img(src="../../images/london1.png")
			+b.sl-text Allow yourself to be<br> a beginner. No one starts off<br> being exellent.
		+b.sl-slider
			img(src="../../images/london2.png")
			+b.sl-text 
				.title.animated.mov "If you're searching for that one person<br> that will change your life,<br> take a look in the mirror."
		+b.sl-slider
			img(src="../../images/london4.png")
			+b.sl-text Have the courage to follow <br>
				| your heart and intuition. <br> 
				|They somehow already know <br>
				|what you truly want to became.				