+b.mslider
	+b.sl
		+b.sl-slider
			img(src="../../images/london1.png")
			+b.sl-text Shot in the dark
				//- +b.title._f Shot in the dark
				//- 	+b.subtitle._f Meaning
				//- 	+b.text._f An attempt to guess something when you
				//- 			|have no<br> information or knowledge about it.
				//- 	+b.example._f From listening, I can't tell who composed it.<br>
				//- 			| Beethoven, maybe, but that's a<br>  
				//- 			span.idiom shot in the dark			

		
			//- img(src="../../images/london2.png")
		+b.sl-slider
			img(src="../../images/london2.png")
			+b.sl-text 
				+e.title._s "If you're searching for<br>
				|that one person that<br>
				|will change your life, take a look<br> in the mirror."
				//- +e.subtitle._s Meaning
				//- +e.text._s From nothing, from the very begining.
				//- +e.example._s I built every bit of my own house.<br> I started 
				//- 		span.idiom from scratch 
				//- 			| with my own hands.			
		
			//- img(src="../../images/london3.png")
		+b.sl-slider
			img(src="../../images/london4.png")
			+b.sl-text Sleep on it
				//- +b.title._th Sleep on it
				//- 	+b.subtitle._th Meaning
				//- 	+b.text._th To wait until the next day<br> before making a decision.
				//- 	+b.example._th You don't have to give<br> me your decision now. 
				//- 	span.idiom Slip on it
				//- 		|, and let me know tomorrow.