+b.test
	+b.center
		+e.title
			h3  Type the best word to complete these sentences
			
			form#form-test(action="#")
				ol
					li
						span.first He
						input.q1(name="q1" type="text")
						span.second French. He was born in Paris.
					li 
						span.first They
						input.q2(name="q2" type="text")
						span.second Japanes. They live in Tokio
					li
						span.first He
						input.q1(name="q1" type="text")
						span.second French. He was born in Paris.
					li 
						span.first They
						input.q2(name="q2" type="text")
						span.second Japanes. They live in Tokio
					li
						span.first He
						input.q1(name="q1" type="text")
						span.second French. He was born in Paris.
					li 
						span.first They
						input.q2(name="q2" type="text")
						span.second Japanes. They live in Tokio
					li
						span.first He
						input.q1(name="q1" type="text")
						span.second French. He was born in Paris.
					li 
						span.first They
						input.q2(name="q2" type="text")
						span.second Japanes. They live in Tokio
					li
						span.first He
						input.q1(name="q1" type="text")
						span.second French. He was born in Paris.
					li 
						span.first They
						input.q2(name="q2" type="text")
						span.second Japanes. They live in Tokio
					input.btn-test(name="btn" type="submit" value="Проверить")
				button.btn-read Показать
			