

@import "parts/bootstrap"
@import "../../bower_components/slick-carousel/slick/slick.css"
@import "../../bower_components/slick-carousel/slick/slick-theme.css"
@import "parts/font-awesome.css"
@import "../../node_modules/animate.css/animate.min.css"
@import "parts/general.styl"

@import "parts/header"
@import "parts/footer"
@import "parts/menu"
@import "parts/test"
@import "parts/idiom"
@import "parts/first"
@import "parts/sidemenu"


