

@import "parts/bootstrap"
@import "../../bower_components/slick-carousel/slick/slick.css"
@import "../../bower_components/slick-carousel/slick/slick-theme.css"
@import "parts/font-awesome.css"
@import "parts/general.styl"

@import "parts/header"
@import "parts/menu"
@import "parts/test"
@import "parts/idiom"


