


body,
html
	min-height 100%
	color: #777
	display block
	margin: 0;
	padding: 0
	border: 0
	outline: 0
	vertical-align: baseline
	background: transparent
	font-size: 100%
	
	font-family: 'Roboto Slab', serif;
	font-size: 18px
	

.content
	background: #fbd6aa
	box-sizing border-box
	
	position relative
	
.row 
	margin 0
	
.eng-wrapper
	min-height 820px
	
.eng-center
	max-width:1200px
	margin:0 auto
	box-sizing border-box
	min-height 100%
	padding-bottom 90px
	padding: 0
	
	

	
.block-menu
	z-index 500

img
	max-width: 100%
	display block

h3
	font-size: 24px
	font-weight: 600

.navbar.navbar-default
	margin-bottom: 0

.row.main
	margin:0
	padding: 0

	


ol li
	margin-bottom: 5px

	input
		margin: 0 5px
		width: 50px
	

