//nav.navbar.navbar-default
	// background: #e88a57
	// font-size: 18px
	// font-weight: 600
	
.eng-header
	max-width 100%
	margin: 0
	padding: 0
	background-color #685569
	font-size 18px
	line-height 18px
	position relative
	
.eng-menu-top	
	margin 0 auto
	max-width 100%
	position relative
	

.eng-nav-list
	float right
	position relative
	margin 0 auto
	list-style inside none
	display block
	align-items center
	&:after 
		content "."
		clear both
		display block
		height 0
		font-size 0
		visibility hidden
	

	&__item
		float left 
		padding-top 10px
		padding-bottom 10px
		position relative
		border-bottom 4px solid #685569
		
		@media (max-width 770px)
			display none
			
		&:hover
			border-bottom 4px solid #6d9966
		// &:nth-child(4)
		// 	&:hover
		// 		border-bottom none
			
	&__link
		display block
		padding 25px 10px
		font-family $font-family-serif
		color white
		
		position relative
		&:hover
			color #6d9966
			text-decoration none
		// @media (max-width $screen-xs-max)
		// 	font-size 12px
	
.eng-dropdown-wrapper
	&:hover
		.eng-dropdown-menu
			display block
		.eng-dropdown
			color #6d9966
			
		
.eng-dropdown
	display block
	padding 25px 10px
	font-family $font-family-serif
	color white
	list-style inside none
	position relative
	//border-bottom 3px solid #685569
	// @media (max-width $screen-xs-max)
	// 		font-size 12px
	&:hover
		color #6d9966
		text-decoration none
	
	&__icon
		color #6d9966
		display inline-block
		margin-left 5px
		font-size 18px	
		
		
.eng-dropdown-menu	
	position absolute
	top 45px
	right 0px
	
	padding 10px
	min-width 130px
	list-style inside none
	text-align center
	box-shadow 0 0 40px rgba(0,0,0,.15)
	z-index 5
	background-color #eac
	display none
	
	&__item
		margin-bottom 11px
		
		
		&:last-child
			margin-bottom 0
			
	&__link
		display inline-block
		font-size 18px
		
		


.eng-mslider
	max-width 1200px
	margin 0 auto
	@media(max-width 770px)
		margin-top 87px
		
.eng-sl	
	
		
.eng-sl-slider
	position relative

.eng-sl-text
	position absolute
	bottom 0
	top 0
	padding-top 5%
	background rgba(0, 0,0, 0.3)
	width 100%
	color #fff
	text-align center
	text-shadow 1px 1px 1px rgba(0, 0,0, 0.7)
	font-size 30px
	@media(max-width 770px)
		font-size 22px
	@media(max-width 500px)
		font-size 16px



.eng-title
	padding-top 30px
	padding-left 60px
	color: yellow
	font-size: 50px
	font-weight: 700
	font-style: italic
	
		
.eng-subtitle
	color: white
	font-size: 18px
	font-weight: 600

.eng-text
	color: white
	font-size: 36px
	font-weight: 600
	// font-style: italic

.eng-example 
	color: white
	font-size: 24px
	font-weight: 600
	font-style: italic

span.idiom
	color: black
	

// .slick-prev
// 	left 25px
// 	z-index 1001
	
// .slick-next
// 	right 25px
// 	z-index 1001

.slick-dots
	bottom 10px
	@media(max-width 770px)
		bottom -25px
	

.slick-dots li button
	border 1px solid #777
	border-radius 50%
	transition border-color .3s
	
	&:before
		content ''
		width 10px
		height 10px
		background #777
		opacity 1
		border-radius 50%
		top 50%
		left 50%
		margin -5px 0 0 -5px
		transition background .3s

	&:hover
		border-color #fff
		&:before
			background #fff
.slick-dots li.slick-active button
		border-color #fff
		&:before
			background #fff
			
		
	
		// &:hover,
		// &:active
		// 	background #fff	