.menu-wrapper
	position fixed
	left 0
	right 0
	top 0
	height 87px
	z-index 200
	// position fixed
	// width 200px
	// top 0
	// bottom 0
	// left 0
	// z-index 200
	display none
	
	@media(max-width 770px)
		display block
	

.menu-links 
	width 50%
	min-height 100%
	padding 5px
	padding-left 0
	margin 0
	background #685569
	position fixed
	top 0
	// bottom 0
	left -20px
	opacity 0
	

	// transition left 0.3s ease-out, opacity 0.3s

	//&.active
	
		// opacity 1
		// left 50px
	 // 	top 0
	 // 	z-index 2
	 // 	padding 5px
	 
	


.menu-cover
	height 87px
	min-width 100%
	position absolute
	top 0
	background #685569
	// width 60px
	// min-height 100%
	// position absolute
	// left0
	// background #e88a57
	// padding 0
	
	// z-index200
	
// .link_burger
// 	border-top 2px splid black
// 	border-bottom 2px splid black
// 	opacity 0

// 	&.active
// 		opacity 1
// 	
//
.link_burger
	min-width 30%
	height 60px
	cursor pointer
	float right
	font-family sans-serif
	
	
	&:hover
		.menu-sign,
		.menu-letters
			color #6d9966
		

.menu-sign
	width 70px
	height 70px
	// padding-right  10px
	padding-top 15px
	float right
	//margin auto 0
	font-size 40px
	line-height 50px
	color #fff
	// text-align center
	cursor pointer

	// &:hover
	// 	color #6d9966

	

.menu-letters
	text-transform uppercase
	//transform rotate(-90deg)
	color #fff
	width 50px
	height 50px
	float right
	margin-right 50px
	margin-top 25px
	font-size 26px
	// font-weight 700
	line-height 30px
	vertical-align center
	// &:hover
	// 	color #6d9966


.menu-links ul
	list-style none
	height 100%
	


.menu-links ul li
	margin-top 15px
	padding 10px
	padding-left 30px
	position relative
	top 15px
	opacity 1
	
	//transition  top 1s ease-out, opacity 1s

	// &.active
	// 	opacity 1
	// 	top 0
	 	
	 
	//

	&hover
		 //transform scale(1.2, 1.2) 
		 background #e99f77
		 padding 10px
		 margin-right 5px
		 border-radius 5px


	
	

.menu-links ul a
	font-size 20px
	font-weight 600
	text-decoration none
	color #fff
	&:hover
		color #6d9966

// .buttons
// 	position fixed
// 	top 20px
// 	right 20px
// 	button 

// 		width 140px
// 		display block
// 		margin-bottom 5px
	

