extends ./templates/layout
block wrapper
	.eng-center
		h3  Welcome to our site!
	//- .container
	//- 	.row
	
			//- .col-md-9
			//- include ./templates/parts/_idiom	
				//button.slide Next
			//- //.col-md-3

						